@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-openSans font-semibold;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  .f-center {
    justify-content: center;
    align-items: center;
  }

  .ft-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #scrollToTopBtn {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #scrollToTopBtn.show {
    opacity: 1;
  }
}
